<section id="blog-listing">
    <div class="container">
        <div class="row">
            <div class="col-md-8">

                <div class="well">
                    <h1 class="pull-left">It's another fashion blog</h1>
                    <p style="clear:both;">
                        Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Vestibulum tortor quam, feugiat vitae, ultricies eget, tempor sit amet, ante. Donec eu libero sit amet quam egestas semper.
                    </p>
                </div>

                <div class="blog-post-short panel panel-default">
                    <div class="panel-body">
                        <h2>Fashion Now</h2>
                        <p> By
                            <a href="">John Slim</a> in
                            <a href="">Fashion and Style</a>
                        </p>
                        <hr>
                        <p class="date-comments">
                            <a href="post.html" class="margin-sm-right">
                                <i class="fa fa-calendar-o"></i> June 20, 2013
                            </a>
                            <a href="post.html"><i class="fa fa-comment-o"></i> 8 Comments</a>
                        </p>
                        <a href="post.html">
                            <img src="../images/blog.jpg" class="img-responsive" alt="Example blog post alt">
                        </a>
                        <p class="blog-posting-intro">
                            Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Vestibulum tortor quam, feugiat vitae, ultricies eget, tempor sit amet, ante. Donec eu libero sit amet quam egestas semper. Aenean ultricies mi vitae est. Mauris placerat eleifend leo.
                        </p>

                        <a href="post.html" class="pull-right filter btn btn-primary">Continue reading</a>
                    </div>

                </div>

                <div class="blog-post-short panel panel-default">
                    <div class="panel-body">
                        <h2>Who is who - example blog post</h2>
                        <p> By
                            <a href="">John Slim</a> in
                            <a href="">Fashion and Style</a>
                        </p>
                        <hr>
                        <p class="date-comments">
                            <a href="post.html" class="margin-sm-right">
                                <i class="fa fa-calendar-o"></i> June 20, 2013
                            </a>
                            <a href="post.html"><i class="fa fa-comment-o"></i> 8 Comments</a>
                        </p>
                        <a href="post.html">
                            <img src="../images/blog2.jpg" class="img-responsive" alt="Example blog post alt">
                        </a>
                        <p class="blog-posting-intro">
                            Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Vestibulum tortor quam, feugiat vitae, ultricies eget, tempor sit amet, ante. Donec eu libero sit amet quam egestas semper. Aenean ultricies mi vitae est. Mauris placerat eleifend leo.
                        </p>

                        <a href="post.html" class="pull-right filter btn btn-primary">Continue reading</a>
                    </div>

                </div>
                <ul class="pager">
                    <li class="previous"><a href="#">&larr; Older</a>
                    </li>
                    <li class="next disabled"><a href="#">Newer &rarr;</a>
                    </li>
                </ul>

            </div>
            <div class="col-md-4">

                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h4>Blog</h4>
                    </div>
                    <div class="panel-body">
                        <ul class="nav">
                            <li><a href="">Designs</a></li>
                            <li><a href="">Gossip</a></li>
                            <li><a href="">Tit Bits</a></li>
                        </ul>
                    </div>
                </div>

            </div>
        </div>
    </div>
</section>
