<div class="container-fluid content">
    <div class="row">
        <div class="col-md-1"></div>
        <div class="col-md-9">
            <div class="row">
                <div class="col-md-3">
                    <div class="panel panel-default">

                        <div class="panel-heading">
                            <h2 class="panel-title">Categories</h2>
                        </div>

                        <div class="panel-body">
                            <ul class="nav category">
                                <li class="category-name">
                                    <a href="">Men <span class="badge pull-right">42</span></a>
                                    <ul class="nav category-options">
                                        <li>
                                            <a href="">T-Shirts</a>
                                        </li>
                                        <li>
                                            <a href="">Shirts</a>
                                        </li>
                                        <li>
                                            <a href="">Pants</a>
                                        </li>
                                        <li>
                                            <a href="">Accessories</a>
                                        </li>
                                    </ul>
                                </li>

                                <li class="active category-name">
                                    <a href="">Ladies <span class="badge pull-right">256</span></a>
                                    <ul class="nav category-options">
                                        <li>
                                            <a href="">T-Shirts</a>
                                        </li>
                                        <li>
                                            <a href="">Shirts</a>
                                        </li>
                                        <li>
                                            <a href="">Pants</a>
                                        </li>
                                        <li>
                                            <a href="">Accessories</a>
                                        </li>
                                    </ul>
                                </li>
                                <li class="category-name">
                                    <a href="">Kids  <span class="badge pull-right">11</span></a>
                                    <ul class="nav category-options">
                                        <li><a href="">T-shirts</a>
                                        </li>
                                        <li><a href="">Skirts</a>
                                        </li>
                                        <li><a href="">Pants</a>
                                        </li>
                                        <li><a href="">Accessories</a>
                                        </li>
                                    </ul>
                                </li>
                            </ul>
                        </div>
                    </div>

                    <div class="panel panel-default">
                        <div class="panel-heading">
                            <h3>Brands 
                                <a href="" class="pull-right btn-danger btn-xs">
                                    <i class="fa fa-times-circle"></i> 
                                    clear
                                </a>
                            </h3>
                        </div>

                        <div class="panel-body">
                            <form>
                                <div class="form-group">
                                    <div class="checkbox-material">
                                        <label>
                                            <input type="checkbox">Armani
                                        </label>
                                    </div>
                                    <div class="checkbox-material">
                                        <label>
                                            <input type="checkbox">Versace
                                        </label>
                                    </div>
                                    <div class="checkbox-material">
                                        <label>
                                            <input type="checkbox">Carlo Bruni
                                        </label>
                                    </div>
                                    <div class="checkbox-material">
                                        <label>
                                            <input type="checkbox">Jack Honey
                                        </label>
                                    </div>
                                </div>
                                <button class="filter btn btn-primary"><i class="fa fa-pencil"></i>Apply</button>
                            </form>

                        </div>
                    </div>

                    <div class="panel panel-default">
                        <div class="panel-heading">
                            <h3>Colors
                                <a href="" class="pull-right btn-danger btn-xs">
                                    <i class="fa fa-times-circle"></i> 
                                    clear
                                </a>
                            </h3>
                        </div>

                        <div class="panel-body">
                            <form>
                                <div class="form-group">
                                    <div class="checkbox-material">
                                        <label>
                                            <input type="checkbox">Armani
                                        </label>
                                    </div>
                                    <div class="checkbox-material">
                                        <label>
                                            <input type="checkbox">Versace
                                        </label>
                                    </div>
                                    <div class="checkbox-material">
                                        <label>
                                            <input type="checkbox">Carlo Bruni
                                        </label>
                                    </div>
                                    <div class="checkbox-material">
                                        <label>
                                            <input type="checkbox">Jack Honey
                                        </label>
                                    </div>
                                </div>
                                <button class="filter btn btn-primary"><i class="fa fa-pencil"></i>Apply</button>
                            </form>

                        </div>
                    </div>

                </div>
                <div class="col-md-9">

                    <div class="panel pane-default">
                        <div class="panel-body">
                            <h1>Ladies</h1>
                            <p>In our Ladies department we offer wide selection of the best products we have found and carefully selected worldwide.</p>
                        </div>
                    </div>

                    <div class="panel panel-default">
                        <div class="panel-body">
                            <div class="row">
                                <div class="col-sm-12 col-md-4 products-showing">
                                    Showing <strong>12</strong> of <strong>25</strong> products
                                </div>

                                <div class="col-sm-12 col-md-8  products-number-sort">
                                    <div class="row">
                                        <form class="form-inline">
                                            <div class="col-md-6 col-sm-6">
                                                <div class="products-number">
                                                    <strong>Show</strong>
                                                    <a href="#" class="filter num-of-products btn btn-default btn-sm btn-primary">12</a>
                                                    <a href="#" class="num-of-products btn btn-default btn-sm">24</a>
                                                    <a href="#" class="num-of-products btn btn-default btn-sm">All</a> products
                                                </div>
                                            </div>
                                            <div class="col-md-6 col-sm-6">
                                                <div class="products-sort-by">
                                                    <strong>Sort by</strong>
                                                    <select name="sort-by" class="form-control">
                                                        <option>Price</option>
                                                        <option>Name</option>
                                                        <option>Sales first</option>
                                                    </select>
                                                </div>
                                            </div>
                                        </form>
                                    </div>
                                </div>
                            </div>

                        </div>
                    </div>

                    <div class="row products">
                        <div class="col-sm-4">
                            <div class="panel panel-default">
                                <div class="panel-body text-center">
                                    <a href="detail.html">
                                        <img src="../images/product1_2.jpg" alt="" class="img-responsive">
                                    </a>
                                    <h3 class="cat-prod-name"><a href="detail.html">Tiger Fur coat </a></h3>
                                    <p class="price">$143.00</p>

                                    <a href="detail.html" class="button grey-background pull-left btn btn-default">View detail</a>
                                    <a href="basket.html" class="button pull-right filter btn btn-primary"><i class="fa fa-shopping-cart"></i>Add to cart</a>
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-4">
                            <div class="panel panel-default">
                                <div class="panel-body text-center">
                                    <a href="detail.html">
                                        <img src="../images/product2_2.jpg" alt="" class="img-responsive">
                                    </a>
                                    <h3 class="cat-prod-name"><a href="detail.html">White Blouse Armani</a></h3>
                                    <p class="price">$143.00</p>

                                    <a href="detail.html" class="button grey-background pull-left btn btn-default">View detail</a>
                                    <a href="basket.html" class="button pull-right filter btn btn-primary"><i class="fa fa-shopping-cart"></i>Add to cart</a>
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-4">
                            <div class="panel panel-default">
                                <div class="panel-body text-center">
                                    <a href="detail.html">
                                        <img src="../images/product3_2.jpg" alt="" class="img-responsive">
                                    </a>
                                    <h3 class="cat-prod-name"><a href="detail.html">Black Blouse Versace</a></h3>
                                    <p class="price">$143.00</p>

                                    <a href="detail.html" class="button grey-background pull-left btn btn-default">View detail</a>
                                    <a href="basket.html" class="button pull-right filter btn btn-primary"><i class="fa fa-shopping-cart"></i>Add to cart</a>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="row products">
                        <div class="col-sm-4">
                            <div class="panel panel-default">
                                <div class="panel-body text-center">
                                    <a href="detail.html">
                                        <img src="../images/product2_2.jpg" alt="" class="img-responsive">
                                    </a>
                                    <h3 class="cat-prod-name"><a href="">White Blouse Armani</a></h3>
                                    <p class="price">$143.00</p>

                                    <a href="detail.html" class="button grey-background pull-left btn btn-default">View detail</a>
                                    <a href="basket.html" class="button pull-right filter btn btn-primary"><i class="fa fa-shopping-cart"></i>Add to cart</a>

                                    <!-- ribbon -->
                                    <div class="ribbon sale">
                                        <div class="theribbon">SALE</div>
                                        <div class="ribbon-background"></div>
                                    </div>
                                    <div class="ribbon new">
                                        <div class="theribbon">NEW</div>
                                        <div class="ribbon-background"></div>
                                    </div>
                                    <div class="ribbon gift">
                                        <div class="theribbon">GIFT</div>
                                        <div class="ribbon-background"></div>
                                    </div>
                                    <!-- ribbon -->
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-4">
                            <div class="panel panel-default">
                                <div class="panel-body text-center">
                                    <a href="detail.html">
                                        <img src="../images/product1_2.jpg" alt="" class="img-responsive">
                                    </a>
                                    <h3 class="cat-prod-name"><a href="detail.html">Tiger Fur coat </a></h3>
                                    <p class="price">$143.00</p>

                                    <a href="detail.html" class="button grey-background pull-left btn btn-default">View detail</a>
                                    <a href="basket.html" class="button pull-right filter btn btn-primary"><i class="fa fa-shopping-cart"></i>Add to cart</a>
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-4">
                            <div class="panel panel-default">
                                <div class="panel-body text-center">
                                    <a href="detail.html">
                                        <img src="../images/product3_2.jpg" alt="" class="img-responsive">
                                    </a>
                                    <h3 class="cat-prod-name"><a href="detail.html">Black Blouse Versace</a></h3>
                                    <p class="price">$143.00</p>

                                    <a href="detail.html" class="button grey-background pull-left btn btn-default">View detail</a>
                                    <a href="basket.html" class="button pull-right filter btn btn-primary"><i class="fa fa-shopping-cart"></i>Add to cart</a>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="row text-center">
                        <ul class="pagination">
                            <li><a href="#">&laquo;</a>
                            </li>
                            <li class="active"><a href="#">1</a>
                            </li>
                            <li><a href="#">2</a>
                            </li>
                            <li><a href="#">3</a>
                            </li>
                            <li><a href="#">4</a>
                            </li>
                            <li><a href="#">5</a>
                            </li>
                            <li><a href="#">&raquo;</a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-1"></div>
    </div>
</div>
