<section id="shopping-cart">
    <div class="container-fluid">
        <!--<div class="row">
            <div class="col-md-1"></div>
            <div class="col-md-10">-->
        <div class="row">
            <!--<div class="col-md-3"></div>-->
            <div class="col-md-2"></div>
            <div class="col-md-6">
                <form method="post" action="checkout/delivery">
                    <div class="panel panel-default">
                        <div class="panel-body">
                            <form method="post" action="checkout1.html">

                                <h1>Shopping cart</h1>
                                <p class="text-muted">You currently have 3 item(s) in your cart.</p>
                                <div class="table-responsive">
                                    <table class="table">
                                        <thead>
                                            <tr>
                                                <th colspan="2">Product</th>
                                                <th>Quantity</th>
                                                <th>Unit price</th>
                                                <th>Discount</th>
                                                <th colspan="2">Total</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            <tr>
                                                <td>
                                                    <a href="#">
                                                        <img class="order-detail-image" src="../images/detailsquare.jpg" alt="White Blouse Armani">
                                                    </a>
                                                </td>
                                                <td><a href="#">White Blouse Armani</a>
                                                </td>
                                                <td>
                                                    <input type="number" value="2" class="form-control">
                                                </td>
                                                <td>$123.00</td>
                                                <td>$0.00</td>
                                                <td>$246.00</td>
                                                <td><a href="#"><i class="fa fa-trash-o"></i></a>
                                                </td>
                                            </tr>
                                            <tr>
                                                <td>
                                                    <a href="#">
                                                        <img class="order-detail-image" src="../images/basketsquare.jpg" alt="Black Blouse Armani">
                                                    </a>
                                                </td>
                                                <td><a href="#">Black Blouse Armani</a>
                                                </td>
                                                <td>
                                                    <input type="number" value="1" class="form-control">
                                                </td>
                                                <td>$200.00</td>
                                                <td>$0.00</td>
                                                <td>$200.00</td>
                                                <td><a href="#"><i class="fa fa-trash-o"></i></a>
                                                </td>
                                            </tr>
                                        </tbody>
                                        <tfoot>
                                            <tr>
                                                <th colspan="5">Total</th>
                                                <th colspan="2">$446.00</th>
                                            </tr>
                                        </tfoot>
                                    </table>

                                </div>
                                <!-- /.table-responsive -->

                                <div class="row">
                                    <div class="col-md-2 text-center"></div>
                                    <div class="col-md-4 text-center">
                                        <a href="category.html" class="btn btn-default"><i class="fa fa-chevron-left"></i> Continue shopping</a>
                                    </div>
                                    <div class="col-md-4 text-center">
                                        <button class="grey-background btn btn-default"><i class="fa fa-refresh"></i> Update basket</button>
                                    </div>
                                    <div class="col-md-2 text-center"></div>
                                </div>

                                <div class="row">
                                    <div class="col-md-12 text-center">
                                        <button type="submit" class="filter btn btn-primary">Proceed to checkout <i class="fa fa-chevron-right"></i>
                                        </button>
                                    </div>
                                </div>

                            </form>
                        </div>
                    </div>
                </form>
            </div>
            <div class="col-md-2">
                <div class="panel panel-default">
                    <div class="panel-heading text-center">
                        <h2>Order Summary</h2>
                    </div>
                    <p class="text-center">
                        Shipping and additional costs are calculated based on the values you have entered.
                    </p>
                    <div class="panel-body">
                        <table class="table">
                            <tbody>
                                <tr>
                                    <td>Order subtotal</td>
                                    <th>$446.00</th>
                                </tr>
                                <tr>
                                    <td>Shipping and handling</td>
                                    <th>$10.00</th>
                                </tr>
                                <tr>
                                    <td>Tax</td>
                                    <th>$0.00</th>
                                </tr>
                                <tr class="total">
                                    <td>Total</td>
                                    <th>$456.00</th>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
            <div class="col-md-2"></div>
        </div>
        <!--</div>
            <div class="col-md-1"></div>-->
    </div>
</section>
