<section id="order-detail">
    <div class="container">
        <div class="row">
            <div class="col-md-3">
                <div class="panel panle-default">
                    <div class="panel-heading">
                        <h4>Customer Section</h4>
                    </div>
                    <div class="panel-body">
                        <ul class="nav nav-pills nav-stacked">
                            <li>
                                <a href="customer-orders.html"><i class="fa fa-list"></i> My orders</a>
                            </li>
                            <li class="active">
                                <a href="customer-wishlist.html"><i class="fa fa-heart"></i> My wishlist</a>
                            </li>
                            <li>
                                <a href="customer-account.html"><i class="fa fa-user"></i> My account</a>
                            </li>
                            <li>
                                <a href="index.html"><i class="fa fa-sign-out"></i> Logout</a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>

            <div class="col-md-8">
                <div class="panel panle-default">
                    <div class="panel-body">
                        <h1>My wishlist</h1>
                        <p class="lead">Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas.</p>
                    </div>
                </div>

                <div class="row">
                    <div class="col-md-3 text-center">
                        <div class="panel panel-default">
                            <div class="panel-body no-padding">
                                <a href="">
                                    <img src="../images/product1_2.jpg" alt="" class="img-responsive">
                                </a>
                                <h3 class="cat-prod-name"><a href="">Tiger Fur coat</a></h3>
                                <p class="price">$143.00</p>
                                <p class="buttons">
                                    <a href="" class="button btn btn-default">View detail</a>
                                    <a href="" class="button filter btn btn-primary"><i class="fa fa-shopping-cart"></i>Add to cart</a>
                                </p>
                            </div>
                        </div>
                    </div>

                    <div class="col-md-3 text-center">
                        <div class="panel panel-default">
                            <div class="panel-body no-padding">
                                <a href="">
                                    <img src="../images/product1_2.jpg" alt="" class="img-responsive">
                                </a>
                                <h3 class="cat-prod-name"><a href="">Tiger Fur coat</a></h3>
                                <p class="price">$143.00</p>
                                <p class="buttons">
                                    <a href="" class="button btn btn-default">View detail</a>
                                    <a href="" class="button filter btn btn-primary"><i class="fa fa-shopping-cart"></i>Add to cart</a>
                                </p>
                            </div>
                        </div>
                    </div>

                    <div class="col-md-3 text-center">
                        <div class="panel panel-default">
                            <div class="panel-body no-padding">
                                <a href="">
                                    <img src="../images/product2_2.jpg" alt="" class="img-responsive">
                                </a>
                                <h3 class="cat-prod-name"><a href="">Tiger Fur coat</a></h3>
                                <p class="price">$143.00</p>
                                <p class="buttons">
                                    <a href="" class="button btn btn-default">View detail</a>
                                    <a href="" class="button filter btn btn-primary"><i class="fa fa-shopping-cart"></i>Add to cart</a>
                                </p>
                            </div>
                        </div>
                    </div>

                    <div class="col-md-3 text-center">
                        <div class="panel panel-default">
                            <div class="panel-body no-padding">
                                <a href="">
                                    <img src="../images/product3_2.jpg" alt="" class="img-responsive">
                                </a>
                                <h3 class="cat-prod-name"><a href="">Tiger Fur coat</a></h3>
                                <p class="price">$143.00</p>
                                <p class="buttons">
                                    <a href="" class="button btn btn-default">View detail</a>
                                    <a href="" class="button filter btn btn-primary"><i class="fa fa-shopping-cart"></i>Add to cart</a>
                                </p>
                            </div>
                        </div>
                    </div>

                </div>

                <div class="row">
                    <div class="col-md-3 text-center">
                        <div class="panel panel-default">
                            <div class="panel-body no-padding">
                                <a href="">
                                    <img src="../images/product1_2.jpg" alt="" class="img-responsive">
                                </a>
                                <h3 class="cat-prod-name"><a href="">Tiger Fur coat</a></h3>
                                <p class="price">$143.00</p>
                                <p class="buttons">
                                    <a href="" class="button btn btn-default">View detail</a>
                                    <a href="" class="button filter btn btn-primary"><i class="fa fa-shopping-cart"></i>Add to cart</a>
                                </p>
                            </div>
                        </div>
                    </div>

                    <div class="col-md-3 text-center">
                        <div class="panel panel-default">
                            <div class="panel-body no-padding">
                                <a href="">
                                    <img src="../images/product1_2.jpg" alt="" class="img-responsive">
                                </a>
                                <h3 class="cat-prod-name"><a href="">Tiger Fur coat</a></h3>
                                <p class="price">$143.00</p>
                                <p class="buttons">
                                    <a href="" class="button btn btn-default">View detail</a>
                                    <a href="" class="button filter btn btn-primary"><i class="fa fa-shopping-cart"></i>Add to cart</a>
                                </p>
                            </div>
                        </div>
                    </div>

                    <div class="col-md-3 text-center">
                        <div class="panel panel-default">
                            <div class="panel-body no-padding">
                                <a href="">
                                    <img src="../images/product2_2.jpg" alt="" class="img-responsive">
                                </a>
                                <h3 class="cat-prod-name"><a href="">Tiger Fur coat</a></h3>
                                <p class="price">$143.00</p>
                                <p class="buttons">
                                    <a href="" class="button btn btn-default">View detail</a>
                                    <a href="" class="button filter btn btn-primary"><i class="fa fa-shopping-cart"></i>Add to cart</a>
                                </p>
                            </div>
                        </div>
                    </div>

                    <div class="col-md-3 text-center">
                        <div class="panel panel-default">
                            <div class="panel-body no-padding">
                                <a href="">
                                    <img src="../images/product3_2.jpg" alt="" class="img-responsive">
                                </a>
                                <h3 class="cat-prod-name"><a href="">Tiger Fur coat</a></h3>
                                <p class="price">$143.00</p>
                                <p class="buttons">
                                    <a href="" class="button btn btn-default">View detail</a>
                                    <a href="" class="button filter btn btn-primary"><i class="fa fa-shopping-cart"></i>Add to cart</a>
                                </p>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
        </div>
</section>
