@media screen and (max-width: 480px) {
    html,
    body {
        overflow-y: auto;
        overflow-x: hidden;
    }
    a>img {
        height: 40px;
        width: 200px;
    }
    .no-display {
        display: none;
    }
}
html,
body {
    background-color: #D1D1D1;
    overflow-x: hidden;
    overflow-y: auto;
    color: #FFFFFF;
}
.container-fluid {
    padding-left: 0;
    padding-right: 0;
}
a>img {
    height: 80px;
}
a.navbar-brand {
    height: inherit;
    padding: 0;
}
.navbar {
    margin: 0;
    background: /*rgba(102, 102, 102, .5)*/
    #333333;
    border: 0;
}
.navbar-collapse {
    padding-top: 10px;
}
.nav a>span {
    font-size: 20px;
}
.navbar-default .navbar-nav > li > a {
    color: #FFFFFF;
}
.navbar-default .navbar-nav > li > a:hover,
.navbar-default .navbar-nav > li > a:focus,
.navbar-default .navbar-nav > li.active > a {
    color: #FE800B;
    background: none;
}

/*.nav li a:hover {
    color: #f33 !important;
    background: none;
}
.nav li.active a {
    color: #f55;
    text-decoration: underline;
}*/

.parallax-image {
    height: 800px;
}
.landing-img {
    background: url("../images/snappa_1.png") no-repeat fixed;
    -webkit-background-size: cover;
    /* For WebKit*/
    -moz-background-size: cover;
    /* Mozilla*/
    -o-background-size: cover;
    background-size: cover;
}
.footer {
    height: 100px;
    padding-top: 40px;
    background-color: #333333;
}
.title,
h1 {
    color: #333333;
}
.triangle_right {
    width: 0;
    height: 0;
    margin-top: 100%;
    border-top: 100px solid transparent;
    /*border-left: 80px solid #FF5A00;*/
    border-left: 80px solid #333333;
    border-bottom: 100px solid transparent;
}
.triangle_right:hover,
h1.img_description:hover {
    cursor: pointer;
    text-decoration: underline;
    color: #FF5A00;
}
.carousel-div {
    position: relative;
    width: 100%;
    /* for IE 6 */
}
.carousel-div>img {
    width: 1500px;
    height: 730px;
}
h1.img_description {
    position: fixed;
    left: 4%;
    bottom: 30%;
    color: #FFFFFF;
}
.collections-row {
    margin-top: 3%;
    margin-bottom: 3%;
    margin-left: 15%;
}
.collections-row>div {
    margin-right: 4%;
    margin-bottom: 5%;
    width: 21%;
    height: 300px;
    float: left;
}
.collections-row>div>img:hover {
    cursor: pointer;
    opacity: 0.8;
}
.collection-item-details,
.store-item-details {
    background-color: #333333;
    height: 15%;
}
.store-item-details {
    padding-top: 5%;
}
.collection-item-details>span {
    height: 100%;
    padding: 2%;
}
.collection-item-details>span:first-child {
    float: left;
}
.collection-item-buy {
    float: right;
    background-color: #E1E1E1;
    color: #333333;
}
.collection-item-buy:hover {
    cursor: pointer;
}
span.collection-item-buy {
    padding-top: 5%;
}

/*.collections-div>h1 {
    position: absolute;
    width: 100%;
    margin: 0;
    bottom: 0%;
    opacity: 0;
    color: #FFFFFF;
    background-color: #333333;
}*/

.collections-div:hover>h1 {
    opacity: 1;
}
