.container-fluid {
    padding: 0;
}
a.navbar-brand {
    padding: 10px 0 0 0;
}
h1,
h3 {
    padding: 0;
    margin: 0;
}

/*------------navigation bar---------------*/

.navbar {
    margin: 0;
}
ul.nav>li>a {
    padding: 15px 0;
}
ul.nav>li>a>span {
    padding: 0 10px;
}
ul.navbar-right>li>a>span {
    border-right: 1px solid black;
}
ul.navbar-right>li:nth-last-child(-n+2)>a>span {
    border-right: none;
}

/*------------Categories---------------*/

.categories label:hover {
    cursor: pointer;
}
.categories label {
    padding: 10px;
    font-size: 16;
    color: gray;
}

/*------------carousel---------------*/

.carousel-caption {
    color: white;
    padding-bottom: 20%;
}

/*------search bar-----------*/

.search-bar {
    position: relative;
    margin: 10px 0 0 0;
    width: 500px;
}
@media screen and (max-width: 1700px) {
    .search-bar {
        margin: 10px 60px 0 0;
        width: 550px;
    }
}
@media screen and (max-width: 1500px) {
    .search-bar {
        margin: 10px 30px 0 0;
        width: 500px;
    }
}
@media screen and (max-width: 1024px) {
    .search-bar {
        margin: 10px 0 0 0;
        width: 400px;
    }
}
@media screen and (max-width: 800px) {
    .search-bar {
        margin: 10px 0 0 0;
        width: 300px;
    }
}
.search-bar input {
    padding-right: 30px;
}
.search-bar span {
    position: absolute;
    right: 0px;
    padding: 10px 12px;
    pointer-events: none;
}

/*-----------clothing carousel-----------*/

.well {
    background: transparent;
    border: none;
    margin: 40px 0 0 0;
}
.panel {
    margin-bottom: 0;
}
.product .panel-body {
    padding: 0;
}
.product .panel-body:hover {
    cursor: pointer;
}
.product .panel-body>img {
    width: 100%;
}
.product .panel-footer {
    position: relative;
}
.product .panel-footer span.shopping_cart {
    position: absolute;
    top: 20%;
    right: 5%;
    font-size: 40px;
}
span.shopping_cart:hover {
    cursor: pointer;
}

/*-----------Footer-----------*/

footer {
    margin-top: 40px;
}
footer .panel {
    border: none;
}
