@media screen and (max-width: 480px) {
    html,
    body {
        overflow-y: auto;
        overflow-x: hidden;
    }
    .no-display {
        display: none;
    }
    .item .shopping_cart {
        display: none;
    }
}
html,
body {
    background-color: #D1D1D1;
    overflow-x: hidden;
    overflow-y: auto;
    color: #000000;
}
.container-fluid {
    padding-left: 0;
    padding-right: 0;
}
.content {
    margin-top: 1%;
}
i.fa {
    margin: 0 5px 0 0;
}
i.fa-calendar-o,
i.fa-comment-o {
    margin: 0;
}
.margin-sm-right {
    margin-right: 5px;
}

/*----------------Navigation START-------------*/

#navigation-bar {
    height: 80px;
}
.navbar {
    margin: 0;
    border: 0;
}
.navbar>li {
    margin: 0;
}
.nav a>span {
    font-size: 20px;
}
.navbar-default .navbar-nav>li>a {
    color: #FFFFFF;
}

/*.navbar-default .navbar-nav>li>a:focus,*/

.navbar-default .navbar-nav>li>a:hover {
    color: #FE800B;
    background-color: transparent;
    outline: none;
}

/*.navbar-default .navbar-nav>.active>a,
.navbar-default .navbar-nav>.active>a:focus,
.navbar-default .navbar-nav>.active>a:hover {
    color: #FE800B;
    outline: none;
    background-color: transparent;
}*/

a.navbar-brand {
    padding: 0;
    width: 150px;
}
a.navbar-brand>img {
    position: absolute;
    height: 100%;
    top: 1%;
}
@media screen and (max-width: 480px) {
    a.navbar-brand>img {
        position: absolute;
        height: 100%;
        top: 0;
    }
}

/*----------------Navigation END-------------*/


/*----------------Footer START-------------*/

.footer {
    height: 100px;
    padding-top: 40px;
    background-color: #333333;
}

/*----------------Footer END-------------*/

.title,
h1 {
    color: #333333;
}

/*----------------Carousel START-------------*/

.carousel-div {
    position: relative;
    width: 100%;
    /* for IE 6 */
}
.carousel-div>img {
    width: 1500px;
    height: 730px;
}
h1.img_description {
    position: fixed;
    left: 4%;
    bottom: 30%;
    color: #FFFFFF;
}
h1.img_description:hover {
    cursor: pointer;
    text-decoration: underline;
    color: #FF5A00;
}

/*----------------Carousel END-------------*/

h1.title {
    margin: 0;
}
#collections {
    margin-top: 1%;
}

/*-----------collection items START-------------------*/

.item {
    color: #000;
}
.item .panel-footer {
    position: relative;
}
h3.item-name,
h4.item-name {
    margin: 0;
}
.item img {
    width: 100%;
}
.item .shopping_cart {
    position: absolute;
    right: 0;
    top: 0;
    background: green;
    height: 100%;
    padding: 0 10% 0 10%;
}
.item .shopping_cart .material-icons {
    position: relative;
    top: 30%;
}
.product:hover {
    cursor: pointer;
}

/*-----------collection items END-------------------*/


/*--------------Form Input Start--------------------*/

.form-group {
    margin: 0;
}
.form-group .checkbox label,
.form-group .radio label,
.form-group label {
    color: #000000;
}
.form-control,
.form-group .form-control {
    border: 1px solid black;
    border-radius: 2%;
    padding: 0 0 0 2%;
}
.shipping-method,
.payment-method {
    margin: 4% 0 0 0;
}

/*--------------Form Input End--------------------*/


/*----------------Details Sidebar START-------------*/

ul.checkout {
    border-bottom: 1px solid #4fbfa8;
}
.nav-pills > li.active > a,
.nav-pills > li.active > a:hover,
.nav-pills > li.active > a:focus {
    color: #FFFFFF;
    background-color: #4fbfa8;
    border-radius: 0;
}
li.category-name>a {
    font-size: 20px;
    text-transform: uppercase;
    font-weight: bold;
}
.nav.category li,
.nav.category-options li {
    margin: 10px 0 10px 0;
}
.nav.category-options>li>a {
    padding-left: 20%;
}
.nav li.active>a {
    background-color: #009688;
    color: #FFFFFF;
}
a.btn-danger.btn-xs:hover {
    text-decoration: none;
}
input[type="checkbox"] {
    margin: 0 10px 0 0;
}

/* for material bootstrap*/

.filter.btn.btn-primary {
    background-color: #009688;
    color: #FFFFFF;
    border-radius: 3px;
}
.filter.btn.btn-primary:hover {
    background-color: #333;
}

/*----------------Details Sidebar END-------------*/


/*----------------Details  START-------------*/

#product-details {
    margin: 1% 0 1% 0;
}
.custom-btn.btn {
    padding: 8px 20px;
}
.panel-body.other-product {
    padding: 0;
}
.well>h3 {
    margin: 0;
}
.well.well-sm.liked-products {
    margin: 0;
}

/*----------------FAQ START-------------*/

a.faq:hover {
    color: #FFFFFF;
    text-decoration: none;
}

/*----------------FAQ END-------------*/


/*--------------Login Form START ------------*/

.modal-header {
    position: relative;
    background-color: #009688;
    color: #FFFFFF;
    margin: 10px 0 10px 0;
    padding: 10px;
    height: 70px;
}
.modal-header>h4 {
    position: absolute;
    margin: 10px 0 10px 0;
    top: 25%;
}
.modal-header .close {
    margin-top: 0;
}
.login-form-input {
    margin: 0;
}
i {
    margin-right: 1%;
}

/*--------------Login Form END ------------*/


/*--------------Blog Listing START ------------*/

.blog-posting-intro {
    font-size: 16px;
    text-align: justify;
}

/*--------------Blog Listing END ------------*/


/*--------------Category START ------------*/

a.num-of-products.btn-sm {
    padding: 4px 10px;
    border: 1px solid #000;
    border-radius: 3px;
}
.products-showing {
    padding-top: 2%;
}
select.form-control {
    border: 1px solid;
    border-radius: 5px;
}
a.button {
    margin: 0;
    padding: 10px 5px;
}
.grey-background {
    background-color: #D1D1D1;
    border-radius: 5px;
}
h3.cat-prod-name {
    padding-bottom: 10px;
    font-size: 18px;
}
.cat-prod-name>a {
    font-size: 20px;
    color: #333333;
}
.price {
    font-size: 20px;
}
.no-padding {
    padding: 0;
}
.no-padding a>img {
    width: 100%;
}

/*--------------Category END ------------*/


/*---------------ribbon - START --------------*/

.ribbon {
    position: absolute;
    top: 50px;
    padding-left: 51px;
    z-index: 20;
}
.ribbon .ribbon-background {
    position: absolute;
    top: 0;
    right: 0;
}
.ribbon .theribbon {
    position: relative;
    width: 80px;
    padding: 6px 20px 6px 20px;
    margin: 30px 10px 10px -71px;
    color: #fff;
    background-color: #4fbfa8;
    text-shadow: 0px 1px 2px #bbb;
}
.ribbon .theribbon:before,
.ribbon .theribbon:after {
    content: ' ';
    position: absolute;
    width: 0;
    height: 0;
}
.ribbon .theribbon:after {
    left: 0px;
    top: 100%;
    border-width: 5px 10px;
    border-style: solid;
    border-color: #2d7b6b #2d7b6b transparent transparent;
}
.ribbon.sale {
    top: 0;
}
.ribbon.new {
    top: 50px;
}
.ribbon.new .theribbon {
    background-color: #5bc0de;
    text-shadow: 0px 1px 2px #bbb;
}
.ribbon.new .theribbon:after {
    border-color: #2390b0 #2390b0 transparent transparent;
}
.ribbon.gift {
    top: 100px;
}
.ribbon.gift .theribbon {
    background-color: #5cb85c;
    text-shadow: 0px 1px 2px #bbb;
}
.ribbon.gift .theribbon:after {
    border-color: #357935 #357935 transparent transparent;
}

/*---------------ribbon - END--------------*/


/*--------------- Orders History - START--------------*/

.label {
    border-radius: 3px;
}
.table>tbody>tr>th,
.table>tbody>tr>td {
    vertical-align: middle;
}

/*---------------Orders History - END--------------*/


/*---------------Order details - START--------------*/

.order-detail-image {
    width: 50px;
}

/*--------------- Order details - START--------------*/

footer>.panel {
    margin-bottom: 0;
}
